* {
  font-family: Sunflower, Arial, Helvetica, sans-serif;
}

:root {
  --cream: #fffcf2;
  --lgray: #ccc5b9;
  --dgray: #403d39;
  --charcoal: #252422;
  --orange: #eb5e28;
}

header {
  color: var(--cream);
  background-color: var(--orange);
  padding: 1rem;
}

footer {
  color: var(--cream);
  background-color: var(--charcoal);
  padding: 1rem;
  text-align: center;
}

h2 {
  font-family: Waterfall, Arial, Helvetica, sans-serif;
  color: var(--charcoal);
}

#charcoal {
  color: #fff;
  background-color: var(--charcoal);
  max-width: 20%;
  padding: 1rem;  
}

#orange {
  color: #fff;
  background-color: var(--orange);
  max-width: 20%;
  padding: 1rem;
}

#lgray {
  color: #000;
  background-color: var(--lgray);
  max-width: 20%;
  padding: 1rem;
}

#dgray {
  color: #fff;
  background-color: var(--dgray);
  max-width: 20%;
  padding: 1rem;
}

#cream {
  color: #000;
  background-color: var(--cream);
  max-width: 20%;
  padding: 1rem;
}