@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Audiowide&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
  --text-align: center;
  --oxford-blue: #091c2f;
  --cinnabar: #fc4a2d;
  --baby-powder: #f9fcfa;
  --process-cyan: #19b8ee;
  --fire-engine-red: #d31818;
}

body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr auto / auto 1fr auto;
}

h1 {
  font-family: Audiowide, Arial, Helvetica, sans-serif;
  color: var(--baby-powder);
  background-color: #091c2f;
  text-align: center;
  padding: 2rem;
}

h2 {
  font-family: Audiowide, Arial, Helvetica, sans-serif;
  color: var(--oxford-blue);
}

h3 {
  font-family: Audiowide, Arial, Helvetica, sans-serif;
  color: var(--oxford-blue);
  text-align: center;
  padding: 1rem 0rem 0.5rem 0rem;
}

header {
  background: #5a5a5a;
  grid-column: 1 / 4;
}

nav {
	max-width: 100%;
}

.profile-image {
  width: 200px;
  height: auto;
}

.idaho-flag-image {
  width: 200px;
  height: auto;
}

.navigation {
  font-family: Albert Sans, Arial, Helvetica, sans-serif;
  list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #3a3a3a;
	align-items: center;  
  overflow: hidden;
}


.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: var(--baby-powder);
	padding: 1.5rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
  transform: scale(1.1);
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  grid-column: 1 / 3;
  margin: 2rem;
  border: 1rem;
  border-radius: 10px;
  /* background: rgb(163, 163, 163); */
  /* padding: 2rem; */
  /* border-style: solid; */
}

main h2 {
  padding: 1rem;
  text-align: center;
  background-color: var(--oxford-blue);
  color: var(--baby-powder);
  border: 1rem;
  border-radius: 10px 10px 0 0;
}

main hr {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}

main .card {
  border: 1px solid grey;
  border-radius: 15px;
}

main .card .profile-image {
  float: right;
  padding: 2rem;
}

main .card .idaho-flag {
  float: left;
  padding: 2rem;
  margin: 1rem 0rem;
  font-style: italic;
}

figcaption {
  padding-top: .5rem;
}

main .card li {
  align-items: center;
  padding: 0.5rem 1rem;
  list-style-position: inside;
}

main .web-dev-links {
  font-family: Albert Sans, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 80%;
  text-align: left;
  padding-left: 1rem;
}

main .idaho-paragraph {
  max-width: 75%;
}

p {
  font-family: Albert Sans, Arial, Helvetica, sans-serif;
  padding: 2rem;
}

footer {
  color: #fff;
  background: var(--oxford-blue);
  padding: 1rem;
  text-align: center;
  grid-column: 1 / 4;
}

footer p {
  padding: 0.5rem;
}