* {
  font-family: Albert Sans, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

@media only screen and (min-width: 500px) {
  .hero img {
      height: 100%; /* Allow full height for landscape images */
      object-fit: cover; /* Ensures no distortion while filling the space */
  }
}