body {
  font-family: Albert Sans, Arial, Helvetica, sans-serif;
}

header, main, footer {
  max-width: 800px;
  margin: 1rem auto;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  background-color: rgb(20, 255, 216);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}

.navigation {
  font-family: Albert Sans, Arial, Helvetica, sans-serif;
  justify-content: space-evenly;
  list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	background-color: #000000;
	align-items: center;  
  overflow: hidden;
}

.navigation li {
	flex: 1 1 auto;
}

.navigation a {
	display: block;
	color: var(--baby-powder);
	padding: 1.5rem;
	text-decoration: none;
	text-align: center;
}

.navigation a:hover {
	font-weight: 700;
  transform: scale(1.1);
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
 	position: relative;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.open a {
	display: block;
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
}

/* .stuff {
	margin: .5m;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;	
} */