@media screen and (min-width: 40em) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: end;
  }

  .navigation {
    display: flex;
    list-style: none;
    margin: 0.5rem;
    padding: 0;
  }

  .navigation li {
    display: block;
    margin: 0 0.5rem;
  }

  .navigation a {
    text-align: center;
    text-decoration: none;
    color: var(--baby-powder);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
  }

  .navigation a:hover,
  .navigation a:active {
    color: var(--process-cyan);
    transform: scale(1.1);
  }
 
	#menu {
		display: none;
	}

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    grid-column: span 3;
    margin-bottom: 20px;
  }
  
  figure {
    margin: 0;
  }
  
  figure img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  figcaption {
    margin-top: 8px;
    font-size: 1rem;
    color: #555;
  }  
};